@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
  --header-height: 6rem;
  --background-color: white;
  --box-shadow: 0px 1px 10px rgba(0, 0%, 0%, 0.4);
  --glass-effect: rgba(255, 255, 255, 0.2);
  --background-blur: blur(5px);
  --icon-size-large: 3em;
  --icon-size-medium: 1.4em;
  --icon-size-small: 0.5em;
  --icon-hover-scale: 1.2;
  --section-padding: 5rem;
  --transition: all 0.3s ease-in-out;
  --transform: scale(1.2);
  --margin-bottom: 3.5rem;
  /* FONT */
  --text-color: black;
  --text-stroke: 1px grey;
  --font-family: "Poppins", sans-serif;
  --font-bold: 700;
  --font-regular: 400;
  --font-size-h1: 1.75rem;
  --font-size-h2: 1.25rem;
  --font-size-h3: 1.125rem;
  --font-size-large: 2.5rem;
  --font-size-normal: 0.9rem;
  --font-size-small: 0.5rem;
  --letter-spacing: 0.2em;
  --line-height: 1.6;

  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 1150px) {
  :root {
    --font-size-h1: 3rem;
    --font-size-h2: 1.5rem;
    --font-size-h3: 1.25rem;
    --font-size-large: 4.5rem;
    --font-size-normal: 1rem;
    --font-size-small: 0.8rem;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  letter-spacing: 0;
  font-family: var(--font-family);
  font-size: var(--font-size-normal);
  background-color: var(--background-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4 {
  color: var(--text-color);
  font-weight: var(--font-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  transition: var(--transition);
}

img {
  height: auto;
  max-width: 100%;
  display: block;
}
/* 
h1 {
  font-size: var(--font-size-large);
}

h2 {
  font-size: var(--font-size-medium);
}

h3 {
  font-size: var(--font-size-normal);
}

.btn {
  padding: 10px 20px;
  background-color: #f7770f;
  color: var(--background-color);
  border-radius: 15px;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  transition: var(--transition);
}

.btn:hover {
  background-color: orange;
}

header {
  height: 6vh;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 2rem;
  box-sizing: border-box;
}

section {
  padding: var(--section-padding);
  box-sizing: border-box;
  min-height: 100vh;
}

.glass {
  background: var(--glass-effect);
  box-shadow: var(--box-shadow);
  backdrop-filter: var(--background-blur);
} */

/* BX ICONS */

/* .bx {
  font-size: var(--icon-size-medium);
}

.bxl-html5:after,
.bxl-css3:after,
.bxl-javascript:after,
.bxl-typescript:after,
.bxl-angular:after,
.bxl-bootstrap:after,
.bxl-java:after,
.bxl-spring-boot:after,
.bxl-git:after {
  display: block;
  text-align: center;
  font-size: var(--font-size-small);
}

.bxl-html5:after {
  content: "HTML";
}
.bxl-css3:after {
  content: "CSS";
}
.bxl-javascript:after {
  content: "JavaScript";
}
.bxl-typescript:after {
  content: "TypeScript";
}
.bxl-angular:after {
  content: "Angular";
}
.bxl-bootstrap:after {
  content: "Bootstrap";
}
.bxl-java:after {
  content: "Java";
}
.bxl-spring-boot:after {
  content: "Spring Boot";
}
.bxl-git:after {
  content: "Git";
} */

/* DESKTOP NAV */

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--background-color);
  z-index: var(--z-fixed);
  transition: box-shadow 0.4s;
}

.nav {
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
  color: var(--text-color);
}

.nav-logo-circle,
.nav-toggle {
  width: 32px;
  height: 32px;
  background-color: var(--text-color);
  color: var(--background-color);
  display: grid;
  place-items: center;
}

.nav-toggle {
  font-size: var(--font-size-h2);
  cursor: pointer;
}

@media screen and (max-width: 1150px) {
  .nav-menu {
    position: fixed;
    top: -100%;
    left: 0;
    background-color: hsla(0, 0%, 0%, 0.7);
    width: 100%;
    padding-block: 1rem 5rem;
    text-align: center;
    backdrop-filter: blur(8px);
    transition: top 0.4;
  }
}

.nav-title,
.nav-name,
.nav-close {
  color: var(--text-color);
}

.nav-title {
  display: block;
  font-size: var(--font-size-small);
  margin-bottom: var(--margin-bottom);
}

.nav-list {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

.nav-link {
  position: relative;
  color: transparent;
  -webkit-text-stroke: var(--text-stroke);
  font-size: var(--font-size-h1);
  font-weight: var(--font-bold);
  transition: color 0.3s;
}

.nav-link:hover,
.nav-link.active {
  color: var(--text-color);
}

.nav-close {
  position: absolute;
  font-size: var(--font-size-h2);
  top: 1rem;
  right: 1.5rem;
  cursor: pointer;
}

.show-menu {
  top: 0;
}

.shadow-header {
  box-shadow: var(--box-shadow);
}

@media screen and (min-width: 1150px) {
  .nav {
    height: calc(var(--header-height) + 2rem);
    column-gap: 4rem;
  }
  .nav-close,
  .nav-toggle,
  .nav-title,
  .nav-name {
    display: none;
  }

  .nav-list {
    flex-direction: row;
    column-gap: 4rem;
  }

  .nav-menu {
    margin-left: auto;
  }
}
/* 
.desktop-links {
  display: flex;
  gap: 3rem;
  list-style: none;
  font-size: var(--font-size-medium);
  letter-spacing: var(--letter-spacing);
}

.desktop-link {
  transition: var(--transition);
}


a {
  color: var(--text-color);
  text-decoration: none;
}

.logo {
  -webkit-text-stroke: var(--text-stroke);
  font-size: var(--font-size-medium);
  letter-spacing: var(--letter-spacing);
}

.logo:hover {
  cursor: default;
} */

/* MOBILE NAV */

/* #hamburger-header {
  display: none;
}

.hamburger-nav {
  position: relative;
  display: inline-block;
  justify-content: space-between;
  align-items: center;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: var(--text-color);
  transition: var(--transition);
}

.hamburger-links {
  position: fixed;
  top: 100%;
  right: 0;
  background-color: var(--background-color);
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: var(--transition);
}

.hamburger-links li {
  display: block;
  padding: 1rem;
  text-align: center;
  font-size: var(--font-size-medium);
  color: var(--text-color);
  text-decoration: none;
  transition: var(--transition);
}

.hamburger-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
  opacity: 1;
} */

/* ABOUT */

/* #about {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.about-img {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 20vw;
  max-height: 20vh;
}

.about-img img {
  max-width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.about-text {
  flex: 1;
  max-width: 70vw;
}

.about-text p {
  font-size: var(--font-size-text);
  line-height: var(--line-height);
  margin-bottom: var(--margin-bottom);
}

.about-tech-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.about-tech-icons i {
  font-size: var(--icon-size-large);
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.social-links i {
  font-size: var(--icon-size-large);
}

.social-links i:hover {
  transform: var(--transform);
} */

/* PORTFOLIO */

/* .btn {
  background-color: white;
  border: 1px solid #cccccc;
  color: #696969;
  padding: 0.5rem;
  text-transform: lowercase;
}

.btn--block {
  display: block;
  width: 100%;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards__item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards__item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards__item {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card:hover .card__image {
  filter: contrast(100%);
}

.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}

.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  filter: contrast(70%);
  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
}

.card__image::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}

@media (min-width: 40rem) {
  .card__image::before {
    padding-top: 66.6%;
  }
}

.card__image--flowers {
  background-image: url(https://unsplash.it/800/600?image=82);
}

.card__image--river {
  background-image: url(https://unsplash.it/800/600?image=11);
}

.card__image--record {
  background-image: url(https://unsplash.it/800/600?image=39);
}

.card__image--fence {
  background-image: url(assets/foxhub.png);
}

.card__title {
  color: #696969;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.card__text {
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
} */

/*  */

/* CONTACT */

/* #contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.contact-links {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  background: var(--background-color);
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  margin: 1rem;
}

.contact-link p,
.contact-link a {
  font-size: var(--font-size-medium);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}

#copyMessage {
  position: absolute;
  top: 60px;
  background-color: var(--background-color);
  padding: 10px;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  white-space: nowrap;
}

#phoneNumber {
  cursor: pointer;
} */

/* FOOTER */

/* footer p {
  font-size: var(--font-size-text);
  text-align: center;
} */
