@import url("https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css");

:root {
  --background-blur: blur(5px);
  --transition: all 0.3s ease-in-out;
  --font-family: "Source Code Pro", monospace;
  --z-tooltip: 10;
  --z-fixed: 100;
  /* SIZES */
  --header-height: 2rem;
  --transform: scale(1.2);
  --margin-bottom: 3.5rem;
  --icon-size-large: 3em;
  --icon-size-medium: 1.4em;
  --icon-size-small: 0.5em;
  --icon-hover-scale: 1.2;
  --section-padding: 5rem;
  --font-bold: 700;
  --font-regular: 400;
  --font-size-h1: 1.75rem;
  --font-size-h2: 1.25rem;
  --font-size-h3: 1.125rem;
  --font-size-large: 2.5rem;
  --font-size-normal: 0.9rem;
  --font-size-small: 0.5rem;
  --font-size-nav: 1.4rem;
  --letter-spacing: 0.2em;
  --line-height: 1.6;
  /* COLORS */
  --text-color: black;
  --text-stroke: 1px black;
  --background-color: white;
  --color-button: #eda790;
  --box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.7);
  --glassmorphism: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  letter-spacing: 0;
  line-height: 1.5;
  font-family: var(--font-family);
  font-size: var(--font-size-normal);
  background-color: var(--background-color);
  color: var(--text-color);
  transition: color 1.9s;
}

::-webkit-scrollbar {
  background: transparent;
  width: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

img {
  height: auto;
  max-width: 100%;
  display: block;
}

section {
  min-height: 100vh;
  padding-left: 40px;
}

/* FIXED ITEMS */

.left {
  font-family: arial;
  position: fixed;
  top: 0;
  left: -8px;
  z-index: 50;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 25px;
  height: 100vh;
  opacity: 0; /* Start invisible */
  animation: fadeIn 3s ease-in-out forwards; /* Adjust the duration (2s) as needed */
  animation-delay: 2s;
}

#social-links {
  display: block;
}

#social-links li {
  margin: 10px;
  font-size: 1.5rem;
}

.icon {
  box-shadow: var(--glassmorphism);
  border-radius: 50%;
  padding: 10px;
}

/* THEME */

.change-theme {
  font-size: var(--font-size-nav);
  color: var(--text-color);
  cursor: pointer;
}

body.dark-theme {
  --text-color: white;
  /* --text-stroke: 1px white; */
  --background-color: #2c3e50;
  /* --color-button: #eda790; */
  /* --box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.7); */
  /* --glass-effect: rgba(255, 255, 255, 0.2); */
}

/* HOME */

#home {
  display: flex;
  justify-content: center;
}

.signature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signature h1 {
  font-size: 150px;
  font-family: "Dancing Script", cursive;
  opacity: 0; /* Start invisible */
  animation: fadeIn 3s ease-in-out forwards; /* Adjust the duration (2s) as needed */
}
.signature h2 {
  font-size: 40px;
  opacity: 0; /* Start invisible */
  animation: fadeIn 3s ease-in-out forwards; /* Adjust the duration (2s) as needed */
  animation-delay: 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* HERO */
#hero {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-text {
}

/* PROJECTS */

.btn {
  background-color: white;
  border: 1px solid #cccccc;
  color: #696969;
  padding: 0.5rem;
  text-transform: lowercase;
}

.btn--block {
  display: block;
  width: 100%;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards__item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards__item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards__item {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: var(--glassmorphism);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card:hover .card__image {
  filter: contrast(100%);
}

.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}

.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  filter: contrast(70%);
  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
}

.card__image::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}

@media (min-width: 40rem) {
  .card__image::before {
    padding-top: 66.6%;
  }
}

.card__image--flowers {
  background-image: url(https://unsplash.it/800/600?image=82);
}

.card__image--river {
  background-image: url(https://unsplash.it/800/600?image=11);
}

.card__image--record {
  background-image: url(https://unsplash.it/800/600?image=39);
}

.card__image--fence {
  background-image: url(assets/foxhub.png);
}

.card__title {
  color: #696969;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.card__text {
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}

.card-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.card-link {
  display: flex;
  align-items: center;
  gap: 0.2em;
  padding: 0.3rem;
  border: 1px solid black;
  border-radius: 5px;
}

.card-link i {
  font-size: 20px;
}

/* CONTACT */

#contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

code {
  font-size: 14px;
}

.contact-container {
  color: white;
  position: relative;
  width: 30rem;
  height: 15rem;
  transition: 0.9s cubic-bezier(0.25, 0.8, 0.25, 1);
  transform-style: preserve-3d;
}

.contact-active {
  transform: rotateX(180deg);
}

.contact {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  box-shadow: var(--glassmorphism);
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
  overflow: hidden;
  margin: auto;
}

.front-side {
  font-size: 40px;
  background: linear-gradient(-45deg, #2c3e50, #2c3e50);
  text-transform: capitalize;
}

.back-side {
  border: none;
  transform: rotateX(180deg);
  flex-direction: column;
  background: linear-gradient(-45deg, #2c3e50, #2c3e50);
}

.front-side:before,
.back-side:before {
  position: absolute;
  top: -40px;
  right: -40px;
  content: "";
  width: 80px;
  height: 80px;
  background-color: rgba(245, 245, 245, 0.08);
  transform: rotate(45deg);
  z-index: 1;
}

.bx-revision {
  font-family: boxicons;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 20px;
  transform: rotate(45deg);
  z-index: 2;
  cursor: pointer;
}

.line-numbers {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0;
  padding: 0 10px;
  background-color: rgba(245, 245, 245, 0.03);
  font-size: 13px;
}

.line-numbers > span {
  padding: 2.5px 0;
}

.indent {
  padding-left: 30px;
}

.operator {
  color: #4dd0e1;
}

.string,
.string a {
  color: #9ccc65;
}

.variable {
  color: #ba68c8;
}

.property {
  color: #ef5350;
}

.method {
  color: #29b6f6;
}

.function {
  color: #fdd835;
}

/* FOOTER */

footer {
  font-family: arial;
  font-size: var(--font-regular);
  display: flex;
  justify-content: center;
}
