@import url("variables.css");

#hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.hero-img,
.hero-container {
  flex: 1 1 40vw;
  margin: 50px;
  justify-content: center;
  align-items: center;
}
.hero-img {
  display: flex;
  align-items: baseline;
}

.hero-links {
  display: flex;
  gap: 20px;
  padding-top: 20px;
}

.hero-link {
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  color: white;
  background-color: #cc4331;
  text-transform: capitalize;
}

.hero-img img {
  max-height: 600px;
}
